services:
  traefik:
    image: traefik:v3.6.2
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.letsencrypt.acme.email=${TRAEFIK_ACME_EMAIL:?set TRAEFIK_ACME_EMAIL in .env.proxy}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      - --log.level=DEBUG
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_letsencrypt:/letsencrypt
    networks:
      - proxy
    restart: unless-stopped

  web:
    labels:
      traefik.enable: "true"
      traefik.docker.network: ${TRAEFIK_DOCKER_NETWORK:?set TRAEFIK_DOCKER_NETWORK in .env.proxy}
      traefik.http.routers.pokemon.rule: Host(`${APP_DOMAIN:?set APP_DOMAIN in .env.proxy}`)
      traefik.http.routers.pokemon.entrypoints: websecure
      traefik.http.routers.pokemon.tls.certresolver: letsencrypt
      traefik.http.services.pokemon.loadbalancer.server.port: "80"
    networks:
      - proxy

volumes:
  traefik_letsencrypt:

networks:
  proxy:
