services:
  traefik:
    image: traefik:v3.6.2
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.letsencrypt.acme.email=${TRAEFIK_ACME_EMAIL:?set TRAEFIK_ACME_EMAIL in .env.proxy}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --accesslog=true
      - --log.level=INFO
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_letsencrypt:/letsencrypt
    networks:
      - proxy
    restart: unless-stopped

  web:
    labels:
      traefik.enable: "true"
      traefik.docker.network: ${TRAEFIK_DOCKER_NETWORK:?set TRAEFIK_DOCKER_NETWORK in .env.proxy}
      traefik.http.routers.pokemon.rule: Host(`${APP_DOMAIN:?set APP_DOMAIN in .env.proxy}`)
      traefik.http.routers.pokemon.entrypoints: websecure
      traefik.http.routers.pokemon.tls: "true"
      traefik.http.routers.pokemon.tls.certresolver: letsencrypt
      traefik.http.services.pokemon.loadbalancer.server.port: "80"
      traefik.http.middlewares.pokemon-secure.headers.stsSeconds: "31536000"
      traefik.http.middlewares.pokemon-secure.headers.stsIncludeSubdomains: "true"
      traefik.http.middlewares.pokemon-secure.headers.stsPreload: "true"
      traefik.http.middlewares.pokemon-secure.headers.frameDeny: "true"
      traefik.http.middlewares.pokemon-secure.headers.contentTypeNosniff: "true"
      traefik.http.middlewares.pokemon-secure.headers.referrerPolicy: strict-origin-when-cross-origin
      traefik.http.routers.pokemon.middlewares: pokemon-secure
    networks:
      - proxy

volumes:
  traefik_letsencrypt:

networks:
  proxy:
